
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nostalgia</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="css/styles.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid brand">
        <a class="navbar-brand" ><img src="img/Brain Emoji.svg">
            <div class="brand-text">
                <span class="text-first">Nostalgia </span>
                <span class="text-second">...relieving your childhood over again</span>
            </div>
        </a>  
    </div>  
</nav>
<!-- Newapp -->

<br class="br">
<br class="br">
<div class="container">
<div class="row">
    <div class="col-sm-12 col-md-6 new margin">
        <h5 class="header">New app in the block</h5>
        <h1 class="title" >Nostalgia would never let you worry about your childhood memories again.</h1> 
        <br>
        <p class="content">Be the first to get notified about our app release</p>
        <div class=" col-8 tnp-subscription">
            <form class = tnp-form method="post" method="POST">

                {% csrf_token %} 
                <h5>Email:</h5>
                {{ form.as_p }}
                <input class="tnp-submit btn-primary" type="submit" value="Subscribe Now">
            </form>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 ">
        <img src='img/phone.png' class="img-fluid">
    </div>
</div>
</div>
<br>

<!-- features -->
<br>
<div class="container ">
<div class="row padding text-center">
    <div class="col-12 feat ">
        <p class="header">FEATURES</p>
        <h1 class="title">Do not miss out on the very <br> amazing things you can do with nostalgia</h1>
        <p class="content">Let’s take you around on the interesting things 
            that awaits you as we prepare to release our application.
            Take a moment to explore on some of the endless wonders that awaits you.
        </p>
    </div>
</div>
</div>
<br>
<br>
<!-- feature memories -->
<div class="container ">
<div class="row memories-container">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 col-xl-6 ">
        <img src='img/Group 14.png' class="img-fluid memories-image">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 margin memories-text">
        <h5 class="header">More than 2k memories</h5>
        <h1 class="title">Endless list of your cherished
                memories awaits you.
        </h1>
        <p class="content">Ever wanted a seamless way to get all
            your childhood memories at your disposal?Then the wait is over.
        </p>
            
    </div>
</div>
</div>
<br>
<!-- feature sorting -->
<div class="container ">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 margin ">
        <p class="header">Advanced sorting options</p>
        <h1 class="title">Let your memories be explored
            in an ordered manner
        </h1>
        <p class="content">Worry less about how to access your
            memories, ranging from loved ones,to events.
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
            <img src='img/Group 15.png' class="img-fluid">
    </div>
</div>
</div>
<br>
<!-- feature Never forget -->
<div class="container">
<div class="row never-container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 never-image">
            <img src='img/Group 16.png' class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  margin never-text">
        <p class="header">Never forget</p>
        <h1 class="title">Get notified about your recently unfinished memories</h1>
        <p class="content">Get on-screen notifications about unfinished memories
            and easily continue with ease and dynamism.</p>
    </div>
</div>
</div>
<br>
<!-- feature control -->
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 margin ">
        <p class="header">Control your app</p>
        <h1 class="title">Easily Browse through your memories</h1>
        <p class="content">Do you want to quickly moved to a previously
        listened memory? Or even listen to a particular
        moment on the present one? Nostalgia has got you covered.  
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 col-xl-6 ">
        <img src='img/Group 17.png' class="img-fluid">
    </div>
</div>
</div>
<br>
<!-- feature bookmark -->
<div class="container">
<div class="row bookmark-container">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 col-xl-6 bookmark-image">
        <img src='img/Group 18.png' class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6  margin bookmark-text">
        <p class="header">Bookmark that memory</p>
        <h1 class="title">Never have difficulties accessing your favourite memories
        </h1>
        <p class="content">Easily navigate to your memories without having
            to all the way in search of them.
        </p>
    </div>
</div>
</div>
<br>
 <!-- feature Set up -->
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6  margin">
        <p class="header">Set up your environment with ease</p>
        <h1 class="title">You should have control of your app, and that’s it is</h1>
        <p class="content">Do you want to quickly moved to a previously
        listened memory? Or even listen to a particular
        moment on the present one? Nostalgia has got you covered.  
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 col-xl-6 ">
            <img src='img/Group 19.png' class="img-fluid">
    </div>
</div>
</div>
<br>
<br>
<!-- footer -->
<footer>
    <div class="container-fluid footer">    
        <div class="footer-text ">
            <div class="footer-brand"><img src="img/Brain Emoji.svg " class="footer-logo">
                <div class="brand-text">
                    <span class="text-first">Nostalgia </span>
                    <span class="text-second">...relieving your childhood over again</span>
                </div>
            </div> 
            <p class="new-content2 text-center">Be the first to get notified about our app release</p>
            <div class=" col-8 tnp-subscription2">
                <form class = tnp-form method="post" method="POST" >

                {% csrf_token %} 
                <h5>Email:</h5>
                {{ form.as_p }}
                <input class="tnp-submit btn-primary" type="submit" value="Subscribe Now">
            </form>
            </div>  
        </div>
        <!-- <div class="footer-image">
            <img src="img/brain_image2.png" class="img-fluid brain-image">
        </div> -->
    </div>
</footer>
</body>
</html>